# ignore all logs
php_*conn*
php_baa*
.allgemein/
*.accdb
*.log
ckeditor4/
!ckeditor4/plugins/
!ckeditor4/*.js

# assets/
games/
ckeditor/
ckfinder/
sicherung/
tmp/
test/
tests/
zzz_*
* copy.*
*.min.*
*.zip
pdfs/
*.pdf
uploads/
*.png
*.jpg
user_img/

# ~/.config/git/ignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix